---
import IconChevronDown from "@tabler/icons/outline/chevron-down.svg";
import IconMenu2 from "@tabler/icons/outline/menu-2.svg";
import Moon from "@tabler/icons/outline/moon-stars.svg";
import Sun from "@tabler/icons/outline/sun.svg";
import IconX from "@tabler/icons/outline/x.svg";
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

import { Button } from "@/components/starwind/button";
import {
  Collapsible,
  CollapsibleContent,
  CollapsibleTrigger,
} from "@/components/starwind/collapsible";
import {
  Dropdown,
  DropdownContent,
  DropdownItem,
  DropdownTrigger,
} from "@/components/starwind/dropdown";
import { Separator } from "@/components/starwind/separator";
import {
  Sheet,
  SheetClose,
  SheetContent,
  SheetFooter,
  SheetHeader,
  SheetTitle,
  SheetTrigger,
} from "@/components/starwind/sheet";

import { ThemeToggle } from "@/components/starwind/theme-toggle";
import Heart from "@tabler/icons/outline/heart.svg";
import Star from "@tabler/icons/outline/star.svg";

export interface NavLink {
  label: string;
  href?: string;
  children?: NavLink[];
}

interface Props extends HTMLAttributes<"nav"> {
  siteName?: string;
  links?: NavLink[];
}

const navStyles = tv({
  base: "@container z-50 backdrop-blur border-b",
});

const {
  siteName = "Portland Bike Polo",
  links = [
    {
      label: "About",
      href: "/about",
    },
    {
      label: "Code of Conduct",
      href: "/coc",
    },
    {
      label: "Tournaments",
      href: "/tournaments",
    },
  ],
  class: className,
  ...rest
} = Astro.props;
---

<nav class={navStyles({ class: className })}>
  <!-- Outer Wrapper -->
  <div class="mx-auto flex h-16 max-w-7xl items-center justify-between px-4">
    <!-- Logo / Site name -->
    <div class="flex shrink-0 items-baseline">
      <a href="/" class="text-lg font-bold tracking-tight">{siteName}</a>
    </div>

    <!-- Desktop Navigation -->
    <div class="ml-6 hidden items-center gap-1 @2xl:flex">
      <ThemeToggle size="sm" variant="default">
        <Moon
          slot="light-icon"
          class="hidden size-5 group-data-[state=off]:data-ready:block"
          data-theme-icon
        />
        <Sun
          slot="dark-icon"
          class="hidden size-5 group-data-[state=on]:data-ready:block"
          data-theme-icon
        />
      </ThemeToggle>
      {
        links.map((link) => (
          <a
            class="hover:text-foreground rounded-md px-3 py-2 text-sm font-medium transition-colors"
            href={link.href}
          >
            {link.label}
          </a>
        ))
      }
    </div>

    <!-- Mobile navigation -->
    <div class="flex items-center gap-2 @2xl:hidden">
      <div>
        <ThemeToggle size="sm" variant="default">
          <Moon
            slot="light-icon"
            class="hidden size-5 group-data-[state=off]:data-ready:block"
            data-theme-icon
          />
          <Sun
            slot="dark-icon"
            class="hidden size-5 group-data-[state=on]:data-ready:block"
            data-theme-icon
          />
        </ThemeToggle>
      </div>
      <Sheet>
        <SheetTrigger asChild>
          <Button
            variant="ghost"
            size="icon"
            class="[&_svg]:size-8"
            aria-label="Open menu"
          >
            <IconMenu2 />
          </Button>
        </SheetTrigger>
        <SheetContent side="right" class="max-w-70 sm:max-w-75">
          <SheetHeader>
            <SheetTitle>
              <span class="text-xl font-bold tracking-tight">{siteName}</span>
            </SheetTitle>
            <Separator class="mt-2" />
          </SheetHeader>
          <div class="-mt-5 flex flex-col px-4">
            {
              links.map((link) => (
                <SheetClose asChild>
                  <a
                    href={link.href}
                    class="text-muted-foreground hover:text-foreground rounded-md py-2 text-lg font-medium transition-colors"
                  >
                    {link.label}
                  </a>
                </SheetClose>
              ))
            }
          </div>
          <IconX class="size-7" slot="icon" />
        </SheetContent>
      </Sheet>
    </div>
  </div>
</nav>
